*{
    margin: 0;
    padding: 0;
}
#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
}
.navbar-custom {
    color: #FFFFFF;
    background-color: #2F4F4F;
}
.navbar-brand img{
    height:50px;
    padding-left:50px; 
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align:left;
    font-weight: bold;
    
}
#nav-bar ul li a:hover{
    color: #007bff!important;
}

.navbar-toggler{
    border: none!important;
    font-weight: 600;
    font-size: 18px;
}


/*-----slider----*/
#slider{
    margin: 10px 40px 10px 40px;

}

.carousel-caption{
    top:50%;
    transform:translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5{
    color:white;
    font-size: 42px;
    font-weight: bold;
}

/*-----about us--*/
#about{
    padding-top:50px;
    padding-bottom:50px;
    color:#555;
}
#about btn;
{
    margin-top:20px;
    margin-bottom:30px;
}
.about-content{
    padding-top: 20px;
}

.skills-bar p
{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar{
    border-radius: 16px;
}
.progress{
    border-radius: 16px !important;
    margin-bottom: 20px;
}
/*-----SERVICES---*/
#services{
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(WEB/services.jpg);
    background-size:cover;
    background-position: center;
    color:#efefef !important;
    background-attachment: fixed;
    padding-top: 30px ;
    padding-bottom: 30px;
}

#services h1{
    text-align: center;
    color: #efefef!important;
}

#services h1::after{
   content:'';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 10px auto 5px;
}
.services{
    margin-top: 40px;
}

.icon{
    font-size:40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius:50%;
}
#services p{
    font-size: 14px;
    margin-top: 20px ;
    color: #ccc;
    
}
.services .col-md-3:hover{
    color: #fff;
    background:grey;
    cursor: pointer;
    transition: 0.5s;
}

/*----------contact us----*/
#contact{
    background:#efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}

#contact h1{
    text-align: center;
    color: black;
    font-weight: bold;
}
#contact h1::after{
   content:'';
    background: black;
    display: block;
    height: 3px;
    width: 170px;
    margin: 10px auto 5px;
}
.contact-form{
    padding: 15px;
}

.form-control{
    border-radius: 0 !important;
    border: none !important;
}

::placeholder{
    color: crimson !important;
}

.follow{

    padding:10px;
    margin:10px;
    font-size: 20px;
}

.follow .fa{
    font-size:20px;
}
.media{
    font-size: 20px;
    padding:10px;
    margin:15px;
}
.media .fa{
    font-size: 50px;
     padding:10px;
}
